

    <div class="main-body">
        <div class="container">
            <div class="form-container">

                <section class="row signin-social text-center">
                    <a href="javascript:;" class="btn-icon btn-icon-sm bg-twitter"><i class="fa fa-twitter"></i></a>
                    <div class="space"></div>
                    <a href="javascript:;" class="btn-icon btn-icon-sm bg-facebook"><i class="fa fa-facebook"></i></a>
                    <div class="space"></div>
                    <a href="javascript:;" class="btn-icon btn-icon-sm bg-google-plus"><i class="fa fa-google-plus"></i></a>
                </section>

                <span class="line-thru">OR</span>

                <form class="form-horizontal" ng-submit="signup.submitSignup()">
                    <fieldset>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                
                                <input type="email"
                                       class="form-control"
                                       placeholder="Email"
                                       name="signup.registerParams.email"
                                       ng-model="signup.registerParams.email"
                                       >
                                       {{signup.registerParams.email}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                
                                <input type="password"
                                       class="form-control"
                                       placeholder="password"
                                       name="signup.registerParams.password"
                                       ng-model="signup.registerParams.password"
                                       >
                                       {{signup.registerParams.password}}
                            </div>
                        </div>
                        <div class="form-group">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Sign up</button>
                        </div>
                    </fieldset>
                </form>
                
            </div>
        </div>
    </div>

