<div id="nav-wrapper">
	<ul data-collapse-nav data-highlight-active data-slim-scroll id="nav">
		<li class="home_link">
			<a ui-sref="home.dashboard" ><i class="fa fa-tachometer"></i><span translate="DASHBOARD"></span></a>
		</li>
		<li class="home_link">
			<a ui-sref="home.relationships" ><i class="fa fa-users"></i><span translate="RELATIONSHIPS"></span></a>
		</li>
		<li class="home_link">
			<a ui-sref="home.inventory" ><i class="fa fa-cubes"></i><span translate="INVENTORY"></span></a>
		</li>
		<li class="home_link">
			<a ui-sref="home.sales" ><i class="fa fa-shopping-cart"></i><span translate="SALES"></span></a>
		</li>
		<li class="home_link">
			<a ui-sref="home.purchase"><i class="fa fa-truck"></i><span translate="PURCHASE"></span></a>
		</li>
        <li class="home_link">
			<a ui-sref="home.paiement_term"><i class="fa fa-calendar-o"></i><span translate="PAIEMENTTERM"></span></a>
		</li>
		<li class="home_link">
			<a ui-sref="home.settings" ><i class="fa fa-cog"></i><span translate="SETTINGS"></span></a>
		</li>
	</ul>
</div>