<h1>Listing payement_terms</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @payement_terms.each do |payement_term| %>
      <tr>
        <td><%= link_to 'Show', payement_term %></td>
        <td><%= link_to 'Edit', edit_payement_term_path(payement_term) %></td>
        <td><%= link_to 'Destroy', payement_term, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payement term', new_payement_term_path %>
