/* TABLE ------------------------------------------------ */
.table .th[class*=sort] {
  cursor: pointer;
}
.table .th[class*=sort]:after {
  content: "\f0dc";
  display: inline-block;
  color: #555;
  font-family: FontAwesome;
  font-size: 13px;
  font-weight: normal;
  float: right;
  margin-right: 1px;
  position: relative;
}
.table .th[class*=sort]:hover {
  color: #31c0be;
}
.table .th[class*=sorting_] {
  color: #31c0be;
}

.table .th.sorting_desc:after {
  content: "\f0dd";
  top: -6px;
  color: #31c0be;
}
.table .th.sorting_asc:after {
  content: "\f0de";
  top: 4px;
  color: #31c0be;
}
.table .th.sorting_disabled {
  cursor: inherit;
}
.table .th.sorting_disabled:after {
  display: none;
}

.table td {
    cursor: pointer;
}

/* LOADING ------------------------------------------------------- */
#loading {
    height:90px; 
    line-height: 4; 
    font-size: 25px;
}

#loading i {
    color: #31c0be;
}

/* TOASTR OVERRIDE -------------------------------------------------- */
.toast-success {
    background-color: #41c387;
}
.toast-error {
    background-color: #e3562e;
}
.toast-info {
    background-color: #46a5cf;
}
.toast-warning {
    background-color: #eabd35;
}

/* OVERLAY --------------------------------------------------------- */
#modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
    display: none;
}