/* SIDEBAR */
.sidebar-shortcuts-large > .btn {
  width: 85px !important;
}
.menu-min.app-sidebar_directive {
  width: 43px;
}
.menu-min.app-sidebar_directive:before {
  width: 43px;
}
.menu-min.app-sidebar_directive +  .main-content {
  margin-left: 43px;
}
.menu-min.app-sidebar_directive + .main-content .breadcrumbs.fixed,
.menu-min.app-sidebar_directive + .main-content .breadcrumbs.breadcrumbs-fixed {
  left: 43px;
}

/* Include this file in your html if you are using the CSP mode. */

@charset "UTF-8";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
  display: none !important;
}

ng\:form {
  display: block;
}

.ng-animate-block-transitions {
  transition:0s all!important;
  -webkit-transition:0s all!important;
}
