<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @name %></h1>
    <p>
      Here is your new password : <%= @pwd %>
    </p>
    <p>
      Please follow this link to login : <%= @url %>
    </p>
  </body>
</html>