<!DOCTYPE html>
<html >
    <head>
      <title>Food Inspector</title>
      <%= airbrake_javascript_notifier %>
      <%= stylesheet_link_tag    "application", media: "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
    </head>
    <body ng-cloak class="skin-1 navbar-fixed breadcrumbs-fixed">
        <header></header>
        <div class="main-container">
            <div class="main-container-inner">
                <sidebar></sidebar>
                <div class="main-content">
                    <breadcrumb></breadcrumb>
                    <div class="page-content" ng-view>
                        <!-- Here are the angular view -->
                    </div>
                </div>
            </div>
        </div>
    
    </body>
</html>
