<!DOCTYPE html>
<html >
    <head>
      <title>Food Inspector</title>
      <%= airbrake_javascript_notifier %>
      <%= stylesheet_link_tag    "application", media: "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
    </head>
    <body ng-cloak class="page-body loaded">
        <div class="page-container" ng-controller="NavCtrl">
        	<div class="sidebar-menu"> <!-- SIDE MENU -->
        		<header class="logo-env">
        			<!-- logo -->
        			<div class="logo">
        				<a href="#/">
        					<img src="/images/logo@2x.png" width="120" alt="" />
        				</a>
        			</div>
        			<div class="sidebar-collapse">
        				<a href="#" class="sidebar-collapse-icon"><!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
        					<span class="sr-only">Toggle navigation</span>
                            <span class="fa fa-bars"></span>
        				</a>
        			</div>
        			<!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
        			<div class="sidebar-mobile-menu visible-xs">
        				<a href="#">
        					<span class="sr-only">Toggle navigation</span>
                            <span class="fa fa-bars"></span>
        				</a>
        			</div>
        		</header>
        		<ul id="main-menu" class="auto-inherit-active-class">
        			<li id="search">
        				<form method="get" action="">
        					<input type="text" name="q" class="search-input" placeholder="Search something..."/>
        					<button type="submit">
        						<i class="fa fa-search"></i>
        					</button>
        				</form>
        			</li>
        			<li>
        				<a href="#/private">
        				    <i class="fa fa-unlock"></i>
        					<span>Private</span>
        				</a>
        			</li>
        			<li>
        				<a href="#/admin">
        				    <i class="fa fa-lock"></i>
        					<span>Admin</span>
        				</a>
        			</li>
        			<li>
        				<a href="#/login">
        				    <i class="fa fa-user"></i>
        					<span>Membre</span>
        				</a>
        				<ul>
        				    <li>
                				<a href="#/login">
                					<span>Login</span>
                				</a>
                			</li>
                			<li>
                				<a href="#/register">
                					<span>Register</span>
                				</a>
                			</li>
        				</ul>
        			</li>
                </ul>
        	</div>	
    	    <div class="main-content">
		        <div class="row">
                	<!-- Profile Info and Notifications -->
                	<div class="col-md-6 col-sm-8 clearfix">
                		<ul class="user-info pull-left pull-none-xsm">
                			<li class="profile-info dropdown"><!-- add class "pull-right" if you want to place this from right -->
                				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                					<img src="images//thumb-1@2x.png" alt="" class="img-circle" width="44" />
                					Art Ramadani
                				</a>
                				<ul class="dropdown-menu">
                					<li class="caret"></li>
                					<li>
                						<a href="extra-timeline.html">
                							Edit Profile
                						</a>
                					</li>
                					<li>
                						<a href="mailbox.html">
                							Inbox
                						</a>
                					</li>
                					<li>
                						<a href="extra-calendar.html">
                							Calendar
                						</a>
                					</li>
                					<li>
                						<a href="#">
                							Tasks
                						</a>
                					</li>
                				</ul>
                			</li>
                		</ul>
                		<ul class="user-info pull-left pull-right-xs pull-none-xsm">
                			<li class="notifications dropdown">
                				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                					<i class="fa fa-warning"></i>
                					<span class="badge badge-info">6</span>
                				</a>
                				<ul class="dropdown-menu">
                					<li class="top">
                                    	<p class="small">
                                    		<a href="#" class="pull-right">Mark all Read</a>
                                    		You have <strong>3</strong> new notifications.
                                    	</p>
                                    </li>
                                    <li>
                                    	<ul class="dropdown-menu-list scroller">
                                    		<li class="unread notification-success">
                                    			<a href="#">
                                    				<span class="line">
                                    					<strong>New user registered</strong>
                                    				</span>
                                    				<span class="line small">
                                    					30 seconds ago
                                    				</span>
                                    			</a>
                                    		</li>
                                    		<li class="unread notification-secondary">
                                    			<a href="#">
                                    				<span class="line">
                                    					<strong>Someone special liked this</strong>
                                    				</span>
                                    				<span class="line small">
                                    					2 minutes ago
                                    				</span>
                                    			</a>
                                    		</li>
                                    		<li class="notification-primary">
                                    			<a href="#">
                                    				<span class="line">
                                    					<strong>Privacy settings have been changed</strong>
                                    				</span>
                                    				<span class="line small">
                                    					3 hours ago
                                    				</span>
                                    			</a>
                                    		</li>
                                    		<li class="notification-danger">
                                    			<a href="#">
                                    				<span class="line">
                                    					John cancelled the event
                                    				</span>
                                    				<span class="line small">
                                    					9 hours ago
                                    				</span>
                                    			</a>
                                    		</li>
                                    		<li class="notification-info">
                                    			<a href="#">
                                    				<span class="line">
                                    					The server is status is stable
                                    				</span>
                                    				<span class="line small">
                                    					yesterday at 10:30am
                                    				</span>
                                    			</a>
                                    		</li>
                                    		<li class="notification-warning">
                                    			<a href="#">
                                    				<span class="line">
                                    					New comments waiting approval
                                    				</span>
                                    				<span class="line small">
                                    					last week
                                    				</span>
                                    			</a>
                                    		</li>
                                    	</ul>
                                    </li>
                                    <li class="external">
                                    	<a href="#">View all notifications</a>
                                    </li>				
                                </ul>
                                    				
                			</li>
                			<li class="notifications dropdown">
                				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                					<i class="fa fa-envelope"></i>
                					<span class="badge badge-secondary">10</span>
                				</a>
                				<ul class="dropdown-menu">
                                    <li>
                                    	<ul class="dropdown-menu-list scroller">
                                    		<li class="active">
                                    			<a href="#">
                                    				<span class="image pull-right">
                                    					<img src="images//thumb-1.png" alt="" class="img-circle" />
                                    				</span>
                                    				
                                    				<span class="line">
                                    					<strong>Luc Chartier</strong>
                                    					- yesterday
                                    				</span>
                                    				
                                    				<span class="line desc small">
                                    					This ain’t our first item, it is the best of the rest.
                                    				</span>
                                    			</a>
                                    		</li>
                                    		<li class="active">
                                    			<a href="#">
                                    				<span class="image pull-right">
                                    					<img src="images//thumb-2.png" alt="" class="img-circle" />
                                    				</span>
                                    				
                                    				<span class="line">
                                    					<strong>Salma Nyberg</strong>
                                    					- 2 days ago
                                    				</span>
                                    				
                                    				<span class="line desc small">
                                    					Oh he decisively impression attachment friendship so if everything. 
                                    				</span>
                                    			</a>
                                    		</li>
                                    		<li>
                                    			<a href="#">
                                    				<span class="image pull-right">
                                    					<img src="images//thumb-3.png" alt="" class="img-circle" />
                                    				</span>
                                    				
                                    				<span class="line">
                                    					Hayden Cartwright
                                    					- a week ago
                                    				</span>
                                    				
                                    				<span class="line desc small">
                                    					Whose her enjoy chief new young. Felicity if ye required likewise so doubtful.
                                    				</span>
                                    			</a>
                                    		</li>
                                    		<li>
                                    			<a href="#">
                                    				<span class="image pull-right">
                                    					<img src="images//thumb-4.png" alt="" class="img-circle" />
                                    				</span>
                                    				
                                    				<span class="line">
                                    					Sandra Eberhardt
                                    					- 16 days ago
                                    				</span>
                                    				
                                    				<span class="line desc small">
                                    					On so attention necessary at by provision otherwise existence direction.
                                    				</span>
                                    			</a>
                                    		</li>
                                    	</ul>
                                    </li>
                                    <li class="external">
                                    	<a href="mailbox.html">All Messages</a>
                                    </li>				
                                </ul>
                            </li>
                			<li class="notifications dropdown">
                				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                					<i class="fa fa-list"></i>
                					<span class="badge badge-warning">1</span>
                				</a>
                				<ul class="dropdown-menu">
                					<li class="top">
                                    	<p>You have 6 pending tasks</p>
                                    </li>
                                    <li>
                                    	<ul class="dropdown-menu-list scroller">
                                    		<li>
                                    			<a href="#">
                                    				<span class="task">
                                    					<span class="desc">Procurement</span>
                                    					<span class="percent">27%</span>
                                    				</span>
                                    				<span class="progress">
                                    					<span style="width: 27%;" class="progress-bar progress-bar-success">
                                    						<span class="sr-only">27% Complete</span>
                                    					</span>
                                    				</span>
                                    			</a>
                                    		</li>
                                    		<li>
                                    			<a href="#">
                                    				<span class="task">
                                    					<span class="desc">App Development</span>
                                    					<span class="percent">83%</span>
                                    				</span>
                                    				<span class="progress progress-striped">
                                    					<span style="width: 83%;" class="progress-bar progress-bar-danger">
                                    						<span class="sr-only">83% Complete</span>
                                    					</span>
                                    				</span>
                                    			</a>
                                    		</li>
                                    		<li>
                                    			<a href="#">
                                    				<span class="task">
                                    					<span class="desc">HTML Slicing</span>
                                    					<span class="percent">91%</span>
                                    				</span>
                                    				<span class="progress">
                                    					<span style="width: 91%;" class="progress-bar progress-bar-success">
                                    						<span class="sr-only">91% Complete</span>
                                    					</span>
                                    				</span>
                                    			</a>
                                    		</li>
                                    		<li>
                                    			<a href="#">
                                    				<span class="task">
                                    					<span class="desc">Database Repair</span>
                                    					<span class="percent">12%</span>
                                    				</span>
                                    				<span class="progress progress-striped">
                                    					<span style="width: 12%;" class="progress-bar progress-bar-warning">
                                    						<span class="sr-only">12% Complete</span>
                                    					</span>
                                    				</span>
                                    			</a>
                                    		</li>
                                    		<li>
                                    			<a href="#">
                                    				<span class="task">
                                    					<span class="desc">Backup Create Progress</span>
                                    					<span class="percent">54%</span>
                                    				</span>
                                    				<span class="progress progress-striped">
                                    					<span style="width: 54%;" class="progress-bar progress-bar-info">
                                    						<span class="sr-only">54% Complete</span>
                                    					</span>
                                    				</span>
                                    			</a>
                                    		</li>
                                    		<li>
                                    			<a href="#">
                                    				<span class="task">
                                    					<span class="desc">Upgrade Progress</span>
                                    					<span class="percent">17%</span>
                                    				</span>
                                    				
                                    				<span class="progress progress-striped">
                                    					<span style="width: 17%;" class="progress-bar progress-bar-important">
                                    						<span class="sr-only">17% Complete</span>
                                    					</span>
                                    				</span>
                                    			</a>
                                    		</li>
                                    	</ul>
                                    </li>
                                    <li class="external">
                                    	<a href="#">See all tasks</a>
                                    </li>			
                                </ul>
                			</li>
                		</ul>
                	</div>
                	<div class="col-md-6 col-sm-4 clearfix hidden-xs">
                		<ul class="list-inline links-list pull-right">
                			<li class="dropdown language-selector">
                				Language: &nbsp;
                				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-close-others="true">
                					<img src="images//flag-uk.png" />
                				</a>
                				<ul class="dropdown-menu pull-right">
                					<li>
                						<a href="#">
                							<img src="images//flag-de.png" />
                							<span>Deutsch</span>
                						</a>
                					</li>
                					<li class="active">
                						<a href="#">
                							<img src="images//flag-uk.png" />
                							<span>English</span>
                						</a>
                					</li>
                					<li>
                						<a href="#">
                							<img src="images//flag-fr.png" />
                							<span>François</span>
                						</a>
                					</li>
                					<li>
                						<a href="#">
                							<img src="images//flag-al.png" />
                							<span>Shqip</span>
                						</a>
                					</li>
                					<li>
                						<a href="#">
                							<img src="images//flag-es.png" />
                							<span>Español</span>
                						</a>
                					</li>
                				</ul>
                			</li>
                			<li class="sep"></li>
                			<li>
                				<button ng-click="logout()" class="btn btn-link">Log Out</button>
                			</li>
                		</ul>
                	</div>
                </div>
                <hr>
                <ol class="breadcrumb bc-3">
					<li>
				        <a href="#/"><i class="fa fa-home"></i>Home</a>
			        </li>
					<li>
						<a href="#/">Example 1</a>
					</li>
				    <li class="#/">
						<strong>Example 2</strong>
					</li>
				</ol>
				<div class="view">
                    <div ng-view></div>
                </div>
                <footer class="main">
                	&copy; 2014 <strong>Neon</strong> Admin Theme by <a href="http://laborator.co" target="_blank">Laborator</a>
                </footer>	
            </div>
	    </div>
        <!--<div role="navigation" class="navbar navbar-default navbar-fixed-top snavbar-inverse" ng-controller="NavCtrl">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand brand"><img src="http://placehold.it/350x150"></a>
            </div>
            <div class="container">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li active-nav><a href="#/">Home</a></li>
                        <li data-access-level="0" active-nav><a href="#/login">Connexion <i class="fa fa-sign-in"></i></a></li>
                        <li data-access-level="2" active-nav="nestedTop"><a href="#/private">Privé</a></li>
                        <li data-access-level="1" active-nav=><a href="#/admin">Admin</a></li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li id="join" data-access-level="0" active-nav><a href="#/register">Inscription</a></li>
                        <li data-access-level="2"><a href="" data-ng-click="logout()">Quitter <i class="fa fa-sign-out"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div ng-view></div>
        </div>-->
    </body>
</html>
